aiohttp
anyio
fastapi
python-dotenv
pandas
torch
pinecone-client
langchain
langchain-community
langchain-core
langchain-pinecone
llama-index-llms-groq
huggingface-hub
sentence-transformers
groq
pydantic
uvicorn
pinecone
